
<div class="section1 mdl-typography--text-center">
	<div class="fuente">Bienvenidos a nuestra ONG</div>
		<div>
		<h2 class="participahome">Participa en nuestro proyecto</h2><br>
		</div>
		
			<button ng-click="loginhome()" class="loginhome mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast"><i class="material-icons">play_arrow</i> Login</button>
			<button ng-click="registratehome()" class="registrohome mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast"><i class="material-icons">how_to_reg</i> Registrarse</button>

</div>
						 
 <div class="section2 mdl-typography--text-center">

		<h1>¿Qué proyecto apoyamos?</h1>
		<h4>Buscamos que los ciudadanos recuperen el control digital.</h4><br>
		<img src="img/portada/girl.jpg" alt=""> <img src="img/portada/girl2.jpg" alt="">

</div>
 <div class="section3 mdl-typography--text-center">
	<div class="fuente2"><h1>Ayúdanos a conseguir un progreso digital para todos</h1></div>
		
		<h4>Impulsamos políticas de protección de datos</h4><br>
		<img src="img/portada/manos.jpg" alt=""> <img src="img/portada/tablet.jpg" alt="">

</div>
